@media screen and (min-width: 768px) {

    #menu_bar ul {
        display: flex !important;
    }

    #menu_bar_mobile {
        display: none !important;
    }

    svg {
        display: none;
    }

    .introD {
        display: block !important;
    }

    .introM {
        display: none !important;
        ;
    }
}

@media screen and (min-width: 991.5px) {
    #menu_bar img {
        margin-right: auto;
    }

    #menu_bar {
        padding: 0 50px;
    }

    #center_big_img {
        height: 580px;
        width: 775px;
        /* margin-left: 10px; */
    }

    #center_main h2 {
        font-weight: 900;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    #center_main .underTitle {
        position: relative;
        margin-bottom: 30px;
    }

    .underTitle::after {
        content: "";
        position: absolute;
        width: 90%;
        bottom: 0;
        left: 5px;
        top: 50px;
        height: 1px;
        border-top: 2px solid #ccc;
        padding: 0 50px;
        /* mar */
        z-index: 100;
    }

    .underTitle::before {
        content: "";
        position: absolute;
        width: 100px;
        bottom: 0;
        left: 5px;
        top: 46px;
        height: 1px;
        border-top: 5px solid #F9B500;
        padding: 0 50px;
        z-index: 200;
    }

    .lastUnderContentImg {
        font-size: 15px;
        margin-left: 10px;
        margin-bottom: 50px;
    }

    .rightTitleImg {
        font-size: 15px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .rightTitleImg:hover {
        color: #F9B500;
        /* font-size: larger; */
        font-weight: bolder;
    }

    .boxlittleright {
        margin-bottom: 20px;
        background-color: #e6e5e3;
        padding: 10px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        margin-left: 15px;
    }

    .bitValue {
        margin-left: 15px;
    }

    #lastPRight {
        margin-left: 15px;
        /* width: 90%; */
        /* font-size: 14px; */
        /* font-weight: bolder; */
    }

    .styleFormMain {
        margin-left: 15px;
    }

    .styleFormMain button {
        transition: color 0.3s ease-in-out;
    }

    .styleFormMain button:hover {
        color: #F9B500;
    }

    .styleFormMain input {
        border: 1px solid #F9B500;
        width: 80%;
        padding: 10px 5px;
        border-radius: 8px 0 0px 8px;
    }

    .styleFormMain button {
        border: 1px solid #F9B500;
        border-left: none;
        border-radius: 0px 8px 8px 0px;
        /* pad */
        font-size: 20px;
        padding: 5.5px 15px;
    }

    .styleFormMain i {
        font-size: 20px;
    }

    .newsletter {
        margin-top: 30px;
    }
}

/* =========================================== */
@media screen and (max-width:765.5px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    header svg {
        position: absolute;
        top: 32px;
        right: 10px;
    }

    header img {
        width: 120px;
        /* margin-left: 20px; */

    }

}